In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

import warnings
warnings.filterwarnings("ignore")

Get file

In [2]:

## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

In [3]:
# Find and read the CSV file from the raw_data folder
target_file = 'IR_09_029_Online_Material_2.xls'
target_file_path = os.path.join(raw_data_path, target_file)

In [4]:
def read_iiasa(header, usecols, skipfooter=0):
    iiasa = pd.read_excel(target_file_path, sheet_name=2, header=header, usecols=usecols, skipfooter=skipfooter)
    iiasa.dropna(how='all', inplace=True)
    cols = list(iiasa.columns[0:4])
    iiasa.rename(columns={cols[0]: 'Technology Name', cols[1]: 'Country Name', cols[2]: 'Metric', cols[3]: 'Unit'}, inplace=True) 
    iiasa = iiasa[(iiasa['Country Name']=='Global (All Manufacturers)') | (iiasa['Country Name']=='Boeing') | (iiasa['Country Name']=='US') | (iiasa['Country Name']=='Global') | (iiasa['Country Name']=='Denmark') | (iiasa['Country Name']=='China')]
    iiasa['Data Source'] = 'Wilson & Grubler'
    iiasa['Country Code'] = None
    iiasa['Spatial Scale'] = None
    for idx in iiasa.index:
        if (iiasa['Country Name'].loc[idx] == 'Global') | (iiasa['Country Name'].loc[idx] == 'Global (All Manufacturers)'):
            iiasa['Country Name'].loc[idx] = 'World'
            iiasa['Country Code'].loc[idx] = 'World'
            iiasa['Spatial Scale'].loc[idx] = 'Global'
        elif (iiasa['Country Name'].loc[idx] == 'US') | (iiasa['Country Name'].loc[idx] == 'Boeing'):
            iiasa['Country Code'].loc[idx] = 'US'
            iiasa['Spatial Scale'].loc[idx] = 'National'
        elif iiasa['Country Name'].loc[idx] == 'Denmark':
            iiasa['Country Code'].loc[idx] = 'DK'
            iiasa['Spatial Scale'].loc[idx] = 'National'
        elif iiasa['Country Name'].loc[idx] == 'China':
            iiasa['Country Code'].loc[idx] = 'CN'
            iiasa['Spatial Scale'].loc[idx] = 'National'
    if iiasa['Technology Name'].iloc[0]=='FCC-Refineries':
        iiasa.replace({'FCC-Refineries':'Fluid Catalytic Cracking Refineries'},inplace=True)
    elif iiasa['Technology Name'].iloc[0]=='CFLs':
        iiasa.replace({'CFLs':'Compact Fluorescent Light Bulbs'},inplace=True)
    elif iiasa['Technology Name'].iloc[0]=='NatGas Power':
        iiasa.replace({'NatGas Power':'Natural Gas Power'},inplace=True)
    iiasa['ID'] = iiasa['Technology Name'] + '_' + iiasa['Metric'] + '_' + iiasa['Country Code']
    return iiasa

In [5]:
print("Current working directory:", os.getcwd())
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data'))
raw_data_iiasa = raw_data_path + "/IIASA/"

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

FCC

In [6]:
fcc = read_iiasa(4, 'B, D, F, G, M:CB', 468)
tech_name = "fcc"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
fcc.to_csv(raw_data_iiasa_name, index=False)

Coal

In [7]:
coal = read_iiasa(30, 'B, D, F, G, M:DA', 442)
tech_name = "coal"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
coal.to_csv(raw_data_iiasa_name, index=False)

Gas

In [8]:
gas = read_iiasa(108, 'B, D, F, G, M:DF', 364)
tech_name = "gas"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
gas.to_csv(raw_data_iiasa_name, index=False)
gas

,Technology Name,Country Name,Metric,Unit,1903,1904,1905,1906,1907,1908,...,1995,1996,1997,1998,1999,2000,Data Source,Country Code,Spatial Scale,ID
5,Natural Gas Power,World,Cumulative Total Capacity,MW,10.0,10.0,10.0,16.0,16.0,19.1,...,436831.457850,459089.980850,478159.656850,495682.883850,521080.212850,565132.507850,Wilson & Grubler,World,Global,Natural Gas Power_Cumulative Total Capacity_World
11,Natural Gas Power,World,Cumulative Total No. of Units,#,1.0,1.0,1.0,3.0,3.0,4.0,...,11734.000000,12305.000000,12746.000000,13157.000000,13682.000000,14190.000000,Wilson & Grubler,World,Global,Natural Gas Power_Cumulative Total No. of Unit...
17,Natural Gas Power,World,Average Capacity of Unit Additions,MW,10.0,0.0,0.0,3.0,0.0,3.1,...,30.323686,38.981651,43.241896,42.635589,48.375865,86.717116,Wilson & Grubler,World,Global,Natural Gas Power_ Average Capacity of Unit Ad...
23,Natural Gas Power,World,Maximum Capacity of Unit Additions,MW,10.0,0.0,0.0,3.0,0.0,3.1,...,330.000000,350.000000,414.000000,627.000000,627.000000,735.000000,Wilson & Grubler,World,Global,Natural Gas Power_Maximum Capacity of Unit Add...

Jets

In [9]:
jets = read_iiasa(160, 'B, D, F, G, M:BJ', 312)
tech_name = "jets"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
jets.to_csv(raw_data_iiasa_name, index=False)
jets

,Technology Name,Country Name,Metric,Unit,1958,1959,1960,1961,1962,1963,...,2002,2003,2004,2005,2006,2007,Data Source,Country Code,Spatial Scale,ID
1,Jet Aircraft,Boeing,Cumulative Total Capacity,MW,677.259154,7195.878514,14899.701394,21672.292937,27428.995749,30620.227111,...,1.022535e+06,1.048144e+06,1.071350e+06,1.094651e+06,1.127160e+06,1.164969e+06,Wilson & Grubler,US,National,Jet Aircraft_Cumulative Total Capacity_US
7,Jet Aircraft,Boeing,Cumulative Total No. of Units,#,8.000000,85.000000,176.000000,256.000000,324.000000,364.000000,...,1.099200e+04,1.127300e+04,1.155800e+04,1.184800e+04,1.224600e+04,1.268700e+04,Wilson & Grubler,US,National,Jet Aircraft_Cumulative Total No. of Units_US
13,Jet Aircraft,Boeing,Average Capacity of Unit Additions,MW,84.657394,84.657394,84.657394,84.657394,84.657394,79.780784,...,9.100723e+01,9.113601e+01,8.142266e+01,8.034766e+01,8.168215e+01,8.573432e+01,Wilson & Grubler,US,National,Jet Aircraft_ Average Capacity of Unit Additio...
19,Jet Aircraft,Boeing,Maximum Capacity of Unit Additions,MW,84.657394,85.777778,85.777778,85.777778,85.777778,85.777778,...,2.869622e+02,2.869622e+02,2.869622e+02,2.869622e+02,2.869622e+02,2.869622e+02,Wilson & Grubler,US,National,Jet Aircraft_Maximum Capacity of Unit Addition...

Cars

In [10]:
cars = read_iiasa(186, 'B, D, F, G, M:DN', 286)
tech_name = "cars"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
cars.to_csv(raw_data_iiasa_name, index=False)
cars

,Technology Name,Country Name,Metric,Unit,1900,1901,1902,1903,1904,1905,...,2000,2001,2002,2003,2004,2005,Data Source,Country Code,Spatial Scale,ID
1,Passenger Cars,US,Cumulative Total Capacity,MW,0.000000,0.930704,4.472703,12.814652,39.409924,80.710951,...,3.977520e+07,4.066598e+07,4.165192e+07,4.263922e+07,4.365504e+07,4.468342e+07,Wilson & Grubler,US,National,Passenger Cars_Cumulative Total Capacity_US
5,Passenger Cars,World,Cumulative Total Capacity,MW,0.000000,1.080539,5.473023,16.447669,49.552006,102.484534,...,8.808015e+07,9.133297e+07,9.477454e+07,9.836355e+07,1.021587e+08,1.061214e+08,Wilson & Grubler,World,Global,Passenger Cars_Cumulative Total Capacity_World
7,Passenger Cars,US,Cumulative Total No. of Units,#,3554.582669,9490.193042,17121.692094,26648.346743,46006.916003,67205.524478,...,4.595610e+08,4.668217e+08,4.746258e+08,4.823076e+08,4.899088e+08,4.975209e+08,Wilson & Grubler,US,National,Passenger Cars_Cumulative Total No. of Units_US
11,Passenger Cars,World,Cumulative Total No. of Units,#,7344.508969,19329.566798,37171.530506,62245.949963,104192.493192,152722.356277,...,1.368493e+09,1.408354e+09,1.449617e+09,1.492112e+09,1.536406e+09,1.582059e+09,Wilson & Grubler,World,Global,Passenger Cars_Cumulative Total No. of Units_W...
13,Passenger Cars,US,Average Capacity of Unit Additions,MW,0.000000,0.000157,0.000464,0.000876,0.001374,0.001948,...,1.226842e-01,1.226842e-01,1.263355e-01,1.285263e-01,1.336382e-01,1.350987e-01,Wilson & Grubler,US,National,Passenger Cars_ Average Capacity of Unit Addit...
17,Passenger Cars,World,Average Capacity of Unit Additions,MW,0.000000,0.000090,0.000246,0.000438,0.000789,0.001091,...,8.281272e-02,8.160409e-02,8.340643e-02,8.445631e-02,8.567965e-02,8.680261e-02,Wilson & Grubler,World,Global,Passenger Cars_ Average Capacity of Unit Addit...
19,Passenger Cars,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Passenger Cars_Maximum Capacity of Unit Additi...
23,Passenger Cars,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Passenger Cars_Maximum Capacity of Unit Additi...

CFLs

In [11]:
cfls = read_iiasa(212, 'B, D, F, G, M:Z', 260)

tech_name = "cfls"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
cfls.to_csv(raw_data_iiasa_name, index=False)

Bikes

In [12]:
bikes = read_iiasa(238, 'B, D, F, G, M:FC', 234)
tech_name = "bikes"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
bikes.to_csv(raw_data_iiasa_name, index=False)

eBikes

In [13]:
ebikes = read_iiasa(264, 'B, D, F, G, M:Z', 208)

tech_name = "ebikes"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
ebikes.to_csv(raw_data_iiasa_name, index=False)

In [14]:
# steamships = read_iiasa(290, 'B, D, F, G, M:EM', 182)
# steamships.replace('Global', 'World', inplace=True)
# steamships.to_csv('raw data/IIASA/steamships.csv', index=False)

Locomotives

In [15]:
locomotives = read_iiasa(316, 'B, D, F, G, M:DS', 156)

tech_name = "locomotives"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
locomotives.to_csv(raw_data_iiasa_name, index=False)

Steam engines

In [16]:
steam_engines = read_iiasa(342, 'B, D, F, G, M:HY', 130)
tech_name = "steam_engines"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
steam_engines.to_csv(raw_data_iiasa_name, index=False)

Motorcycles

In [17]:
motorcycles = read_iiasa(368, 'B, D, F, G, M:DQ', 104)

tech_name = "motorcycles"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
motorcycles.to_csv(raw_data_iiasa_name, index=False)

Cellphones

In [18]:
cellphones = read_iiasa(394, 'B, D, F, G, M:AS', 78)
#cellphones.replace('Global (All Manufacturers)', 'World', inplace=True)
#cellphones = cellphones[cellphones['Metric']=='Cumulative Total Capacity']

tech_name = "cellphones"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
cellphones.to_csv(raw_data_iiasa_name, index=False)
cellphones

,Technology Name,Country Name,Metric,Unit,1978,1979,1980,1981,1982,1983,...,2005,2006,2007,2008,2009,2010,Data Source,Country Code,Spatial Scale,ID
5,Cellphones,World,Cumulative Total Capacity,MW,0.0,3.232805,7.546520e+00,1.330233e+01,2.098193e+01,3.122761e+01,...,1.739706e+04,2.185595e+04,2.704373e+04,3.254383e+04,3.799441e+04,4.517283e+04,Wilson & Grubler,World,Global,Cellphones_Cumulative Total Capacity_World
11,Cellphones,World,Cumulative Total No. of Units,#,0.0,718401.061613,1.677004e+06,2.956073e+06,4.662652e+06,6.939470e+06,...,3.866014e+09,4.856877e+09,6.009717e+09,7.231962e+09,8.443202e+09,1.003841e+10,Wilson & Grubler,World,Global,Cellphones_Cumulative Total No. of Units_World
17,Cellphones,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Cellphones_ Average Capacity of Unit Additions...
23,Cellphones,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Cellphones_Maximum Capacity of Unit Additions_...

Washing Machines

In [19]:
washing_machines = read_iiasa(420, 'B, D, F, G, M:CW', 52)
#washing_machines.replace('Global', 'World', inplace=True)

tech_name = "washing_machines"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
washing_machines.to_csv(raw_data_iiasa_name, index=False)

washing_machines

,Technology Name,Country Name,Metric,Unit,1920,1921,1922,1923,1924,1925,...,2003,2004,2005,2006,2007,2008,Data Source,Country Code,Spatial Scale,ID
1,Washing Machines,US,Cumulative Total Capacity,MW,13.795448,45.860542,9.619528e+01,1.647997e+02,2.516737e+02,3.568174e+02,...,6.814118e+05,7.041463e+05,7.281764e+05,7.535032e+05,7.801276e+05,8.086269e+05,Wilson & Grubler,US,National,Washing Machines_Cumulative Total Capacity_US
5,Washing Machines,World,Cumulative Total Capacity,MW,82.208242,174.281473,2.774035e+02,3.929002e+02,5.222564e+02,6.671354e+02,...,4.264253e+06,4.415849e+06,4.571863e+06,4.732424e+06,4.897660e+06,5.066480e+06,Wilson & Grubler,World,Global,Washing Machines_Cumulative Total Capacity_World
7,Washing Machines,US,Cumulative Total No. of Units,#,74000.000000,246000.000000,5.160000e+05,8.840000e+05,1.350000e+06,1.914000e+06,...,3.328870e+08,3.429900e+08,3.536650e+08,3.649120e+08,3.767310e+08,3.891220e+08,Wilson & Grubler,US,National,Washing Machines_Cumulative Total No. of Units_US
11,Washing Machines,World,Cumulative Total No. of Units,#,440972.273900,934861.220667,1.488017e+06,2.107551e+06,2.801430e+06,3.578573e+06,...,1.855570e+09,1.922938e+09,1.992245e+09,2.063546e+09,2.136897e+09,2.210297e+09,Wilson & Grubler,World,Global,Washing Machines_Cumulative Total No. of Units...
13,Washing Machines,US,Average Capacity of Unit Additions,MW,0.000186,0.000186,1.864250e-04,1.864250e-04,1.864250e-04,1.864250e-04,...,2.249465e-03,2.250267e-03,2.251070e-03,2.251872e-03,2.252674e-03,2.300000e-03,Wilson & Grubler,US,National,Washing Machines_ Average Capacity of Unit Add...
17,Washing Machines,World,Average Capacity of Unit Additions,MW,0.000186,0.000186,1.864250e-04,1.864250e-04,1.864250e-04,1.864250e-04,...,2.249465e-03,2.250267e-03,2.251070e-03,2.251872e-03,2.252674e-03,2.300000e-03,Wilson & Grubler,World,Global,Washing Machines_ Average Capacity of Unit Add...
19,Washing Machines,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Washing Machines_Maximum Capacity of Unit Addi...
23,Washing Machines,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Washing Machines_Maximum Capacity of Unit Addi...

Refrigerators

In [20]:
refrigerators = read_iiasa(446, 'B, D, F, G, M:CZ', 26)
#refrigerators.replace('Global', 'World', inplace=True)

tech_name = "refrigerators"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
refrigerators.to_csv(raw_data_iiasa_name, index=False)
refrigerators

,Technology Name,Country Name,Metric,Unit,1918,1919,1920,1921,1922,1923,...,2004,2005,2006,2007,2008,2009,Data Source,Country Code,Spatial Scale,ID
1,Refrigerators,US,Cumulative Total Capacity,MW,1.253082,2.645396,4.192411,5.911316,7.821212,9.943317e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Refrigerators_Cumulative Total Capacity_US
5,Refrigerators,World,Cumulative Total Capacity,MW,7.723709,16.305608,25.841051,36.435988,48.208140,6.128831e+01,...,2.422951e+05,2.476076e+05,2.531266e+05,2.586761e+05,2.641332e+05,2.697720e+05,Wilson & Grubler,World,Global,Refrigerators_Cumulative Total Capacity_World
7,Refrigerators,US,Cumulative Total No. of Units,#,21954.000090,46347.333524,73451.037339,103566.263801,137027.626536,1.742069e+05,...,3.649120e+08,3.767310e+08,3.891220e+08,NaN,NaN,NaN,Wilson & Grubler,US,National,Refrigerators_Cumulative Total No. of Units_US
11,Refrigerators,World,Cumulative Total No. of Units,#,135319.380295,285674.247289,452735.210616,638358.503201,844606.606074,1.073771e+06,...,2.265521e+09,2.373138e+09,2.489363e+09,2.610619e+09,2.734061e+09,2.865780e+09,Wilson & Grubler,World,Global,Refrigerators_Cumulative Total No. of Units_World
13,Refrigerators,US,Average Capacity of Unit Additions,MW,0.000057,0.000057,0.000057,0.000057,0.000057,5.707763e-05,...,5.140312e-05,4.936447e-05,4.748575e-05,4.576696e-05,4.420810e-05,4.280916e-05,Wilson & Grubler,US,National,Refrigerators_ Average Capacity of Unit Additi...
17,Refrigerators,World,Average Capacity of Unit Additions,MW,0.000057,0.000057,0.000057,0.000057,0.000057,5.707763e-05,...,5.140312e-05,4.936447e-05,4.748575e-05,4.576696e-05,4.420810e-05,4.280916e-05,Wilson & Grubler,World,Global,Refrigerators_ Average Capacity of Unit Additi...
19,Refrigerators,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Refrigerators_Maximum Capacity of Unit Additio...
23,Refrigerators,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Refrigerators_Maximum Capacity of Unit Additio...

Laundry dryers

In [21]:
laundry_dryers = read_iiasa(472, 'B, D, F, G, M:CU')
#laundry_dryers.replace('Global', 'World', inplace=True)
tech_name = "laundry_dryers"
raw_data_iiasa_name = raw_data_iiasa + tech_name + ".csv"
laundry_dryers.to_csv(raw_data_iiasa_name, index=False)
laundry_dryers

,Technology Name,Country Name,Metric,Unit,1920,1921,1922,1923,1924,1925,...,2001,2002,2003,2004,2005,2006,Data Source,Country Code,Spatial Scale,ID
1,Laundry Dryers,US,Cumulative Total Capacity,MW,192.305008,413.455768,667.779141,960.251021,1.296594e+03,1.683388e+03,...,5.938904e+05,6.146125e+05,6.366596e+05,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_Cumulative Total Capacity_US
5,Laundry Dryers,World,Cumulative Total Capacity,MW,549.442881,1181.302194,1907.940404,2743.574346,3.704553e+03,4.809679e+03,...,1.522424e+06,1.558049e+06,1.595380e+06,1.640330e+06,1.683075e+06,1.725127e+06,Wilson & Grubler,World,Global,Laundry Dryers_Cumulative Total Capacity_World
7,Laundry Dryers,US,Cumulative Total No. of Units,#,62845.320065,135117.438140,218230.373926,313810.250080,4.237271e+05,5.501315e+05,...,1.940835e+08,2.008555e+08,2.080605e+08,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_Cumulative Total No. of Units_US
11,Laundry Dryers,World,Cumulative Total No. of Units,#,179558.057329,386049.823257,623515.354074,896600.714513,1.210649e+06,1.571804e+06,...,4.975286e+08,5.091707e+08,5.213705e+08,5.360602e+08,5.500294e+08,5.637719e+08,Wilson & Grubler,World,Global,Laundry Dryers_Cumulative Total No. of Units_W...
13,Laundry Dryers,US,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_ Average Capacity of Unit Addit...
17,Laundry Dryers,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Laundry Dryers_ Average Capacity of Unit Addit...
19,Laundry Dryers,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_Maximum Capacity of Unit Additi...
23,Laundry Dryers,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Laundry Dryers_Maximum Capacity of Unit Additi...

In [26]:
# get current directory
current_directory = os.path.abspath(os.getcwd())
current_directory
parent_directory = os.path.dirname(current_directory)
cleaned_data_directory = os.path.join(parent_directory, "cleaned_data")
cleaned_data_directory
# Will be in reading_files. Need to get to cleaned_data

'/Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data'

In [27]:

# Define the directory path
file_path = cleaned_data_directory + '/frame.csv'
frame = pd.read_csv(file_path)
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [30]:
# Now go into the IIASA files
current_directory
parent_directory = os.path.dirname(current_directory)
cleaned_data_directory = os.path.join(parent_directory, "raw_data")

iiasa_path = os.path.join(cleaned_data_directory, 'IIASA')

os.chdir(iiasa_path)
iiasa_files = os.listdir(iiasa_path)
iiasa_files

['washing_machines.csv',
 'bikes.csv',
 'refrigerators.csv',
 'jets.csv',
 'motorcycles.csv',
 'gas.csv',
 'laundry_dryers.csv',
 'cellphones.csv',
 'ebikes.csv',
 'coal.csv',
 'locomotives.csv',
 'cfls.csv',
 'cars.csv',
 'fcc.csv',
 'steam_engines.csv']

In [34]:
csv = []
for file in iiasa_files:
     if '.csv' in file:
        name = iiasa_path + "/" +file
        csv.append(name)

In [35]:
df_list = [frame]
for file in csv:
    print(file)
    file = pd.read_csv(file)
    df_list.append(file)

/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/washing_machines.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/bikes.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/refrigerators.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/jets.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/motorcycles.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/gas.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/laundry_dryers.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/cellphones.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/ebikes.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/coal.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/locomotives.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/cfls.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/cars.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/fcc.csv
/Users/jennagreene/Documents/GitHub/HATCH_data/raw_data/IIASA/steam_engines.csv

In [36]:
iiasa = pd.concat(df_list)
iiasa.reset_index(drop=True, inplace=True)

In [37]:
omit = []
for col in iiasa.columns:
    if len(col) != 4 or col == 'Unit':
        omit.append(col)
drop_empty_rows = iiasa.drop(columns=omit)
drop_empty_rows.dropna(how='all', inplace=True)
na_idx = []
for row in iiasa.index:
    if row not in drop_empty_rows.index:
        na_idx.append(row)
iiasa.drop(na_idx, inplace=True)

In [38]:
tech_list = set(iiasa['Technology Name'])
tech_list

{'Bicycles',
 'Cellphones',
 'Coal Power',
 'Compact Fluorescent Light Bulbs',
 'Electric Bicycles',
 'Fluid Catalytic Cracking Refineries',
 'Jet Aircraft',
 'Laundry Dryers',
 'Motorcycles',
 'Natural Gas Power',
 'Passenger Cars',
 'Refrigerators',
 'Stationary Steam Engines',
 'Steam Locomotives',
 'Washing Machines'}

In [39]:
drop_id = []
for tech in tech_list:
    df = iiasa[iiasa['Technology Name']==tech]
    country_list = list(set(df['Country Name']))
    for country in country_list:
        df_country = df[df['Country Name']==country]
        metric_list = list(set(df_country['Metric']))
        if len(metric_list) > 1:
            to_drop_df = df_country[df_country['Metric']!='Cumulative Total Capacity']
            id_list = list(set(to_drop_df['ID']))
            drop_id.extend(id_list)
drop_id

['Bicycles_Cumulative Total No. of Units_World',
 'Compact Fluorescent Light Bulbs_Cumulative Total No. of Units_World',
 'Steam Locomotives_ Average Capacity of Unit Additions_World',
 'Steam Locomotives_Cumulative Total No. of Units_World',
 'Motorcycles_ Average Capacity of Unit Additions_World',
 'Motorcycles_Cumulative Total No. of Units_World',
 'Passenger Cars_Cumulative Total No. of Units_US',
 'Passenger Cars_ Average Capacity of Unit Additions_US',
 'Passenger Cars_ Average Capacity of Unit Additions_World',
 'Passenger Cars_Cumulative Total No. of Units_World',
 'Washing Machines_Cumulative Total No. of Units_US',
 'Washing Machines_ Average Capacity of Unit Additions_US',
 'Washing Machines_Cumulative Total No. of Units_World',
 'Washing Machines_ Average Capacity of Unit Additions_World',
 'Cellphones_Cumulative Total No. of Units_World',
 'Natural Gas Power_Cumulative Total No. of Units_World',
 'Natural Gas Power_ Average Capacity of Unit Additions_World',
 'Natural Gas Power_Maximum Capacity of Unit Additions_World',
 'Jet Aircraft_Maximum Capacity of Unit Additions_US',
 'Jet Aircraft_ Average Capacity of Unit Additions_US',
 'Jet Aircraft_Cumulative Total No. of Units_US',
 'Refrigerators_ Average Capacity of Unit Additions_US',
 'Refrigerators_Cumulative Total No. of Units_US',
 'Refrigerators_ Average Capacity of Unit Additions_World',
 'Refrigerators_Cumulative Total No. of Units_World',
 'Electric Bicycles_Cumulative Total No. of Units_CN',
 'Electric Bicycles_Cumulative Total No. of Units_World',
 'Coal Power_ Average Capacity of Unit Additions_World',
 'Coal Power_Maximum Capacity of Unit Additions_World',
 'Coal Power_Cumulative Total No. of Units_World',
 'Stationary Steam Engines_Cumulative Total No. of Units_World',
 'Stationary Steam Engines_ Average Capacity of Unit Additions_World',
 'Laundry Dryers_Cumulative Total No. of Units_US',
 'Laundry Dryers_Cumulative Total No. of Units_World']

In [40]:
drop_list = []
for item in drop_id:
    idx = iiasa.index[iiasa['ID'] == item].tolist()
    drop_list.extend(idx)
drop_list

[9,
 61,
 58,
 57,
 26,
 25,
 66,
 68,
 69,
 67,
 2,
 4,
 3,
 5,
 41,
 29,
 30,
 31,
 23,
 22,
 21,
 16,
 14,
 17,
 15,
 46,
 47,
 54,
 55,
 53,
 77,
 78,
 34,
 35]

In [41]:
iiasa.drop(drop_list, inplace=True)

In [42]:
iiasa[iiasa['Technology Name']=='Natural Gas Power']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
28,Natural Gas Power_Cumulative Total Capacity_World,Global,World,World,Natural Gas Power,Cumulative Total Capacity,MW,Wilson & Grubler,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:


output_file = 'iiasa.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

iiasa.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/iiasa.csv