In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import warnings
warnings.filterwarnings("ignore")

Data sources:

https://data.aseanstats.org/indicator/ASE.TRP.ROD.B.011

In [5]:
## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

In [6]:
asean_motorcycles_filepath = os.path.join(raw_data_path, 'Motorcycles_numberregistered_ASEAN_thousands.xlsx')
motorcycles = pd.read_excel(asean_motorcycles_filepath, header = 2)

In [10]:
motorcycles = motorcycles.rename(columns = {'country': 'Country Name'})

In [11]:
motorcycles

,Country Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Brunei Darussalam,3.470,1.697,2.586,3.280,4.000,4.000,5.555,5.507,5.349,5.336,5.072,5.001,5.055,4.689,4.322,NaN
1,Cambodia,188.915,275.471,236.614,218.217,233.497,244.971,303.180,342.076,464.970,381.400,502.701,540.000,370.000,432.000,467.000,310.000
2,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.000,389.000,6528.000,5815.000,7174.000,5341.000,6479.000
3,Lao PDR,623.310,711.800,804.187,818.340,1005.000,1111.960,1218.000,1318.000,1413.000,1504.000,1593.000,1697.381,1766.383,1841.618,2299.116,NaN
4,Malaysia,8487.451,8940.230,9441.907,9985.308,10589.818,11087.878,11629.263,12094.790,12677.220,13173.069,13725.946,14322.226,14891.585,15506.689,16225.394,16867.912
5,Myanmar,1609.000,1674.000,1881.000,1934.000,3153.201,3419.000,4162.000,4505.000,5122.701,5640.070,5997.520,6069.300,6330.530,6243.040,5814.990,NaN
6,Philippines,2983.000,3201.000,3482.149,3881.000,4117.000,4251.000,4489.000,4623.000,5330.000,6174.000,7162.000,8014.000,7328.116,3577.609,8473.000,NaN
7,Singapore,146.000,147.000,148.000,147.000,144.000,144.000,144.000,143.000,143.000,142.000,137.000,141.000,141.000,142.000,142.000,143.000
8,Thailand,16448.527,16729.447,17322.538,18174.922,19169.418,19987.190,20327.755,20519.498,20497.296,20717.645,21099.526,21425.044,21588.423,21864.326,22300.719,22719.693
9,Viet Nam,25273.000,28195.000,31155.000,33774.000,36894.000,38643.000,41197.000,44128.000,47131.000,54063.000,58169.432,61728.249,72061.323,NaN,NaN,NaN

In [12]:
# Multiply by thousand because the data is in terms of thousands
motorcycles = motorcycles.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [14]:
motorcycles['Data Source'] = 'ASEAN Stats Data Portal'
motorcycles['Technology Name'] = 'Motorcycles'
motorcycles['Spatial Scale'] = 'National'
motorcycles['Metric'] = 'Total Number'
motorcycles['Unit'] = '-'
motorcycles['Country Code'] = coco.convert(names=motorcycles['Country Name'], to='iso2')
motorcycles['ID'] = motorcycles['Technology Name'] + '_' + motorcycles['Metric'] + '_' + motorcycles['Country Code']
motorcycles.set_index('ID', inplace=True)

In [16]:
output_file = 'motorcycles_asia.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

motorcycles.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/motorcycles_asia.csv