In [2]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import warnings
warnings.filterwarnings("ignore")

Data sources:

https://data.aseanstats.org/indicator/ASE.TRP.ROD.B.011

In [3]:
## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

In [4]:
asean_motorcycles_filepath = os.path.join(raw_data_path, 'Motorcycles_numberregistered_ASEAN_thousands.xlsx')
motorcycles = pd.read_excel(asean_motorcycles_filepath, header = 2)

In [8]:
motorcycles = motorcycles.rename(columns = {'country': 'Country Name'})

In [9]:
motorcycles

,Country Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,...,2019,2020,2021,2022,2023,Data Source,Technology Name,Spatial Scale,Metric,Unit
0,Brunei Darussalam,3470.0,1697.0,2586.0,3280.0,4000.0,4000.0,5555.0,5507.0,5349.0,...,5001.0,5055.0,4689.0,4322.0,NaN,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
1,Cambodia,188915.0,275471.0,236614.0,218217.0,233497.0,244971.0,303180.0,342076.0,464970.0,...,540000.0,370000.0,432000.0,467000.0,310000.0,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
2,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6528000.0,5815000.0,7174000.0,5341000.0,6479000.0,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
3,Lao PDR,623310.0,711800.0,804187.0,818340.0,1005000.0,1111960.0,1218000.0,1318000.0,1413000.0,...,1697381.0,1766383.0,1841618.0,2299116.0,NaN,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
4,Malaysia,8487451.0,8940230.0,9441907.0,9985308.0,10589818.0,11087878.0,11629263.0,12094790.0,12677220.0,...,14322226.0,14891585.0,15506689.0,16225394.0,16867912.0,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
5,Myanmar,1609000.0,1674000.0,1881000.0,1934000.0,3153201.0,3419000.0,4162000.0,4505000.0,5122701.0,...,6069300.0,6330530.0,6243040.0,5814990.0,NaN,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
6,Philippines,2983000.0,3201000.0,3482149.0,3881000.0,4117000.0,4251000.0,4489000.0,4623000.0,5330000.0,...,8014000.0,7328116.0,3577609.0,8473000.0,NaN,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
7,Singapore,146000.0,147000.0,148000.0,147000.0,144000.0,144000.0,144000.0,143000.0,143000.0,...,141000.0,141000.0,142000.0,142000.0,143000.0,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
8,Thailand,16448527.0,16729447.0,17322538.0,18174922.0,19169418.0,19987190.0,20327755.0,20519498.0,20497296.0,...,21425044.0,21588423.0,21864326.0,22300719.0,22719693.0,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-
9,Viet Nam,25273000.0,28195000.0,31155000.0,33774000.0,36894000.0,38643000.0,41197000.0,44128000.0,47131000.0,...,61728249.0,72061323.0,NaN,NaN,NaN,ASEAN Stats Data Portal,Motorcycles,National,Cumulative Number of Units,-

In [10]:
# Multiply by thousand because the data is in terms of thousands
motorcycles = motorcycles.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [11]:
motorcycles['Data Source'] = 'ASEAN Stats Data Portal'
motorcycles['Technology Name'] = 'Motorcycles'
motorcycles['Spatial Scale'] = 'National'
motorcycles['Metric'] = 'Cumulative Number of Units'
motorcycles['Unit'] = '-'
motorcycles['Country Code'] = coco.convert(names=motorcycles['Country Name'], to='iso2')
motorcycles['ID'] = motorcycles['Technology Name'] + '_' + motorcycles['Metric'] + '_' + motorcycles['Country Code']
motorcycles.set_index('ID', inplace=True, drop = False)

In [12]:
output_file = 'motorcycles_asia.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

motorcycles.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/motorcycles_asia.csv