In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# https://fred.stlouisfed.org/tags/series?t=nipa%3Bprice+index
# https://fred.stlouisfed.org/series/A001RG3A086NBEA

In [ ]:
# this is just a test! I then go and replicate this in each of the reading files for cost data

In [3]:
nipa = pd.read_excel('A001RG3A086NBEA.xls', header=10)
nipa

   observation_date  A001RG3A086NBEA
0        1929-01-01            9.371
1        1930-01-01            9.010
2        1931-01-01            8.120
3        1932-01-01            7.194
4        1933-01-01            7.001
..              ...              ...
89       2018-01-01          110.329
90       2019-01-01          112.284
91       2020-01-01          113.794
92       2021-01-01          118.900
93       2022-01-01          127.197

[94 rows x 2 columns]

In [4]:
year_list = []
for x in nipa['observation_date']:
    x = int(str(x)[:4])
    year_list.append(x)
nipa['Year'] = year_list
nipa.set_index('Year', drop=True, inplace=True)
nipa.drop(columns='observation_date', inplace=True)
nipa = nipa.transpose()
nipa

Year,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
A001RG3A086NBEA,9.371,9.01,8.12,7.194,7.001,7.343,7.49,7.582,7.858,7.712,...,101.765,103.661,104.652,105.691,107.73,110.329,112.284,113.794,118.9,127.197

In [5]:
# sorted(list(set(cost_data['Unit'])))
#  ['1958 USD',
#  '1958 USD/gal',
#  '1958 USD/lb',
#  '1966 USD/lb',
#  '1998 USD/metric ton',
#  '2021 USD/barrel',
#  '2021 USD/kW',
#  '2021 USD/kWh',
#  'USD/kilobase',
#  'USD/metric ton',
#  'USD/million Btu',
#  'million USD/unit',
#  'producer price index',
#  'thousand USD/hectolitre',
#  'thousand USD/metric ton',
#  'thousand USD/unit']

In [6]:
all_tech = pd.read_csv('all_tech_version 2.0.csv')
all_tech

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,1.900000e+02,2.900000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,7.600000e+02,1.160000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Sensible Heat Storage,NaN,...,2.550000e+05,3.550000e+05,4.550000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1.195000e+06,1.745000e+06,2.945000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Onshore Wind Energy_Levelized Cost of Energy_DK,National,DK,Denmark,Onshore Wind Energy,Levelized Cost of Energy,2021 USD/kWh,IRENA,Levelized Cost of Energy|Onshore Wind Energy,NaN,...,5.542823e-02,4.578779e-02,4.374012e-02,0.045337,0.039979,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8837,Tin Production_Annual production_World,Global,World,World,Tin Production,Annual production,metric tons,USGS,Annual production|Tin Production,NaN,...,3.090000e+05,3.410000e+05,3.230000e+05,296000.000000,NaN,NaN,NaN,NaN,NaN,NaN
8838,Space Launches_Total Number_UA,National,UA,Ukraine,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8839,Space Launches_Total Number_TM,National,TM,Turkmenistan,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8840,Liquefied Natural Gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,billion cubic feet,EIA,Annual Production|Liquefied Natural Gas,NaN,...,1.868400e+02,7.075400e+02,1.083120e+03,1819.400000,2389.840000,3560.82,NaN,NaN,NaN,NaN
8841,Space Launches_Total Number_CO,National,CO,Colombia,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
usd_1998 = all_tech[all_tech['Unit']=='1998 USD/metric ton']
usd_1998

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
690,Rare Earth Mine Production_Price_World,Global,World,World,Rare Earth Mine Production,Price,1998 USD/metric ton,USGS,Price|Rare Earth Mine Production,NaN,...,7.200000e+03,7.650000e+03,5.750000e+03,3810.000000,NaN,NaN,NaN,NaN,NaN,NaN
1316,Sand and Gravel|Industrial_Price_World,Global,World,World,Sand and Gravel|Industrial,Price,1998 USD/metric ton,USGS,Price|Sand and Gravel|Industrial,NaN,...,2.400000e+01,3.460000e+01,3.660000e+01,30.200000,NaN,NaN,NaN,NaN,NaN,NaN
1339,Lead_Price_World,Global,World,World,Lead,Price,1998 USD/metric ton,USGS,Price|Lead,NaN,...,1.410000e+03,1.680000e+03,1.590000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,Primary Aluminum Production_Price_World,Global,World,World,Primary Aluminum Production,Price,1998 USD/metric ton,USGS,Price|Primary Aluminum Production,NaN,...,1.200000e+03,1.440000e+03,1.640000e+03,1400.000000,NaN,NaN,NaN,NaN,NaN,NaN
2635,Nickel Production_Price_World,Global,World,World,Nickel Production,Price,1998 USD/metric ton,USGS,Price|Nickel Production,NaN,...,6.520000e+03,6.920000e+03,8.510000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2670,Sand and Gravel|Construction_Price_World,Global,World,World,Sand and Gravel|Construction,Price,1998 USD/metric ton,USGS,Price|Sand and Gravel|Construction,NaN,...,5.705000e+00,5.876400e+00,5.926683e+00,6.011302,NaN,NaN,NaN,NaN,NaN,NaN
2739,Cement_Price_World,Global,World,World,Cement,Price,1998 USD/metric ton,USGS,Price|Cement,NaN,...,7.540000e+01,7.780000e+01,7.850000e+01,78.100000,NaN,NaN,NaN,NaN,NaN,NaN
4046,Cobalt_Price_World,Global,World,World,Cobalt,Price,1998 USD/metric ton,USGS,Price|Cobalt,NaN,...,1.730000e+04,3.220000e+04,4.140000e+04,24100.000000,NaN,NaN,NaN,NaN,NaN,NaN
4067,Primary Bauxite Production_Price_World,Global,World,World,Primary Bauxite Production,Price,1998 USD/metric ton,USGS,Price|Primary Bauxite Production,NaN,...,1.910000e+01,2.100000e+01,2.040000e+01,20.500000,NaN,NaN,NaN,NaN,NaN,NaN
4101,Lithium Mine Production_Price_World,Global,World,World,Lithium Mine Production,Price,1998 USD/metric ton,USGS,Price|Lithium Mine Production,NaN,...,3.340000e+03,3.260000e+03,4.760000e+03,5130.000000,NaN,NaN,NaN,NaN,NaN,NaN
4188,Zinc Production_Price_World,Global,World,World,Zinc Production,Price,1998 USD/metric ton,USGS,Price|Zinc Production,NaN,...,1.520000e+03,2.040000e+03,2.020000e+03,1750.000000,NaN,NaN,NaN,NaN,NaN,NaN
4297,Gold Production_Price_World,Global,World,World,Gold Production,Price,1998 USD/metric ton,USGS,Price|Gold Production,NaN,...,2.730000e+07,2.700000e+07,2.650000e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4313,Primary Copper_Price_World,Global,World,World,Primary Copper,Price,1998 USD/metric ton,USGS,Price|Primary Copper,NaN,...,3.370000e+03,4.180000e+03,4.280000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4316,Silver Production_Price_World,Global,World,World,Silver Production,Price,1998 USD/metric ton,USGS,Price|Silver Production,NaN,...,3.760000e+05,3.650000e+05,3.280000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4532,Raw Steel Production_Price_World,Global,World,World,Raw Steel Production,Price,1998 USD/metric ton,USGS,Price|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4537,Graphite_Price_World,Global,World,World,Graphite,Price,1998 USD/metric ton,USGS,Price|Graphite,NaN,...,8.290000e+02,7.510000e+02,5.930000e+02,714.000000,NaN,NaN,NaN,NaN,NaN,NaN
4555,Cadmium Refining_Price_World,Global,World,World,Cadmium Refining,Price,1998 USD/metric ton,USGS,Price|Cadmium Refining,NaN,...,9.100000e+02,1.160000e+03,1.880000e+03,1700.000000,NaN,NaN,NaN,NaN,NaN,NaN
4568,Iron Ore_Price_World,Global,World,World,Iron Ore,Price,1998 USD/metric ton,USGS,Price|Iron Ore,NaN,...,4.965000e+01,5.223000e+01,6.037000e+01,59.250000,NaN,NaN,NaN,NaN,NaN,NaN
7348,Salt Production_Price_World,Global,World,World,Salt Production,Price,1998 USD/metric ton,USGS,Price|Salt Production,NaN,...,3.700000e+01,3.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8836,Tin Production_Price_World,Global,World,World,Tin Production,Price,1998 USD/metric ton,USGS,Price|Tin Production,NaN,...,1.260000e+04,1.370000e+04,1.340000e+04,12199.750834,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
infl_1998_2022 = float(nipa[2022]/nipa[1998])
infl_1998_2022

1.6912695457930007

In [8]:

for col in usd_1998.columns[9:]:
    usd_1998[col] = usd_1998[col] * infl_1998_2022
usd_1998['Unit'] = '2022 USD/metric ton'
usd_1998

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51635/2357449669.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd_1998[col] = usd_1998[col] * infl_1998_2022
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51635/2357449669.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd_1998['Unit'] = '2022 USD/metric ton'

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
690,Rare Earth Mine Production_Price_World,Global,World,World,Rare Earth Mine Production,Price,2022 USD/metric ton,USGS,Price|Rare Earth Mine Production,NaN,...,1.217714e+04,1.293821e+04,9.724800e+03,6443.736969,NaN,NaN,NaN,NaN,NaN,NaN
1316,Sand and Gravel|Industrial_Price_World,Global,World,World,Sand and Gravel|Industrial,Price,2022 USD/metric ton,USGS,Price|Sand and Gravel|Industrial,NaN,...,4.059047e+01,5.851793e+01,6.190047e+01,51.076340,NaN,NaN,NaN,NaN,NaN,NaN
1339,Lead_Price_World,Global,World,World,Lead,Price,2022 USD/metric ton,USGS,Price|Lead,NaN,...,2.384690e+03,2.841333e+03,2.689119e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,Primary Aluminum Production_Price_World,Global,World,World,Primary Aluminum Production,Price,2022 USD/metric ton,USGS,Price|Primary Aluminum Production,NaN,...,2.029523e+03,2.435428e+03,2.773682e+03,2367.777364,NaN,NaN,NaN,NaN,NaN,NaN
2635,Nickel Production_Price_World,Global,World,World,Nickel Production,Price,2022 USD/metric ton,USGS,Price|Nickel Production,NaN,...,1.102708e+04,1.170359e+04,1.439270e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2670,Sand and Gravel|Construction_Price_World,Global,World,World,Sand and Gravel|Construction,Price,2022 USD/metric ton,USGS,Price|Sand and Gravel|Construction,NaN,...,9.648693e+00,9.938576e+00,1.002362e+01,10.166733,NaN,NaN,NaN,NaN,NaN,NaN
2739,Cement_Price_World,Global,World,World,Cement,Price,2022 USD/metric ton,USGS,Price|Cement,NaN,...,1.275217e+02,1.315808e+02,1.327647e+02,132.088152,NaN,NaN,NaN,NaN,NaN,NaN
4046,Cobalt_Price_World,Global,World,World,Cobalt,Price,2022 USD/metric ton,USGS,Price|Cobalt,NaN,...,2.925896e+04,5.445888e+04,7.001856e+04,40759.596054,NaN,NaN,NaN,NaN,NaN,NaN
4067,Primary Bauxite Production_Price_World,Global,World,World,Primary Bauxite Production,Price,2022 USD/metric ton,USGS,Price|Primary Bauxite Production,NaN,...,3.230325e+01,3.551666e+01,3.450190e+01,34.671026,NaN,NaN,NaN,NaN,NaN,NaN
4101,Lithium Mine Production_Price_World,Global,World,World,Lithium Mine Production,Price,2022 USD/metric ton,USGS,Price|Lithium Mine Production,NaN,...,5.648840e+03,5.513539e+03,8.050443e+03,8676.212770,NaN,NaN,NaN,NaN,NaN,NaN
4188,Zinc Production_Price_World,Global,World,World,Zinc Production,Price,2022 USD/metric ton,USGS,Price|Zinc Production,NaN,...,2.570730e+03,3.450190e+03,3.416364e+03,2959.721705,NaN,NaN,NaN,NaN,NaN,NaN
4297,Gold Production_Price_World,Global,World,World,Gold Production,Price,2022 USD/metric ton,USGS,Price|Gold Production,NaN,...,4.617166e+07,4.566428e+07,4.481864e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4313,Primary Copper_Price_World,Global,World,World,Primary Copper,Price,2022 USD/metric ton,USGS,Price|Primary Copper,NaN,...,5.699578e+03,7.069507e+03,7.238634e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4316,Silver Production_Price_World,Global,World,World,Silver Production,Price,2022 USD/metric ton,USGS,Price|Silver Production,NaN,...,6.359173e+05,6.173134e+05,5.547364e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4532,Raw Steel Production_Price_World,Global,World,World,Raw Steel Production,Price,2022 USD/metric ton,USGS,Price|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4537,Graphite_Price_World,Global,World,World,Graphite,Price,2022 USD/metric ton,USGS,Price|Graphite,NaN,...,1.402062e+03,1.270143e+03,1.002923e+03,1207.566456,NaN,NaN,NaN,NaN,NaN,NaN
4555,Cadmium Refining_Price_World,Global,World,World,Cadmium Refining,Price,2022 USD/metric ton,USGS,Price|Cadmium Refining,NaN,...,1.539055e+03,1.961873e+03,3.179587e+03,2875.158228,NaN,NaN,NaN,NaN,NaN,NaN
4568,Iron Ore_Price_World,Global,World,World,Iron Ore,Price,2022 USD/metric ton,USGS,Price|Iron Ore,NaN,...,8.397153e+01,8.833501e+01,1.021019e+02,100.207721,NaN,NaN,NaN,NaN,NaN,NaN
7348,Salt Production_Price_World,Global,World,World,Salt Production,Price,2022 USD/metric ton,USGS,Price|Salt Production,NaN,...,6.257697e+01,6.257697e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8836,Tin Production_Price_World,Global,World,World,Tin Production,Price,2022 USD/metric ton,USGS,Price|Tin Production,NaN,...,2.131000e+04,2.317039e+04,2.266301e+04,20633.067051,NaN,NaN,NaN,NaN,NaN,NaN